{% load static%}
<center>
    <div style=" background-color:white ;width: 823.330;
margin-top: 150px;">
        <br>
        <br>
        <br>
        {% block title %}Password_changed_Done{% endblock %}
        <link rel="stylesheet" href="{% static 'css/pass.css' %}">

        {% block content %}

        <h1>Password changed</h1>
        <p>Your password has been successfully changed.</p>
        <a href="{% url 'profiles:profile' %}">
            <button class="pass">Profile</button>
        </a>
        <br>
        <br>
    </div>
    {% endblock %}
</center>