{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/sty.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <title>Edit Profile</title>
</head>

<body>
    <center>
        <div style="margin-bottom: 50px;" class="box">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="upload">
                    <img id="imageblock" src="{{request.user.profile.image.url}}">
                    <div class="round">

                        <i class="fa fa-camera" style="color:black"></i>

                    </div>
                    {{ profileform.image }}
                </div>
                <br />
                <br />

                <label class="small">UserName</label>
                {{ userform.username }}
                <label class="small">Email</label>
                {{ userform.email }}

                <label class="small">Facebook</label>
                {{ profileform.face }}

                <label class="small">Date of birth</label><br />

                {{ profileform.dob }}

                <label class="small">PhoneNumber</label>
                {{ profileform.phone_number }}

                <label class="small">City</label>
                {{ profileform.city }}
                <label class="small">Gender</label>
                {{ profileform.gender }}
                <label class="small">Education</label>
                {{ profileform.education }}
                <label class="small">Language</label>
                {{ profileform.language }}
                <label class="small">Experience</label>
                {{ profileform.experience }}
                <label class="small">Technical Skills</label>
                {{ profileform.tecskill}}
                <label class="small">Soft Skills</label>
                {{ profileform.softskill }}
                <label class="small">Bio</label>
                {{ profileform.bio }}
                <br />
                <br />
                <div style="margin-top: 40px;">
                    {{ profileform.cv }}
                    <label for="file" style="text-align: center;
             box-sizing: border-box;
             font-size: 20px;
             background-color:cadetblue;
             color: black;
             border: 1px solid;
             padding: 20px 30px;
             top: 100px;
             margin-bottom: 20px;
             border-radius: 5px;
             transition: all 0.3s;"><i class="fa fa-upload" aria-hidden="true"></i>Upload CV</label>
                    <br />
                    <br />
                    <br />
                    <br />
                    <br />

                    {{ profileform.file }}
                    <label for="file" style="text-align: center;
             box-sizing: border-box;
             font-size: 20px;
             background-color:cadetblue;
             color: black;
             border: 1px solid;
             padding: 20px 30px;
             top: 100px;
             margin-bottom: 20px;
             border-radius: 5px;
             transition: all 0.3s;"><i class="fa fa-upload" aria-hidden="true"></i>Upload Certification</label>
                    <br />

                </div>
                <br>
                <br>
                <button type="submit">UP DATE</button>

            </form>



        </div>

    </center>
</body>

</html>