
    {% for search_word in search_words0 %}
    <h1>
      {{ search_word }}
</h1>
    {% endfor %}

   {% comment "" %}
    {% for x in all_searched_words %}
    <h1>
      {{ x }}
    </h1>
    {% endfor %}
    <h1>
      {{ all_searched_words }}
    </h1>
{% endcomment %}
    <div class="container0">
      {% for x in combined_list %}
          {% if x.user.id != request.user.id %}
              <div class="box0">
                  <a href="{% url 'profiles:other' x.id %}">
                      <h2>{{ x.user }}</h2>
                  </a>
                  <p>{{ x.tecskill }}</p>
                  <div class="options">
                      <a href="https://www.facebook.com/messages/t/{{ x.face_name }}">Message</a>
                  </div>
              </div>
          {% endif %}
      {% endfor %}
  </div>
  