{% load static %}
{% load bootstrap4 %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Joblance</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css'%}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css'%}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css'%}">
    <link rel="stylesheet" href="{% static 'css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css'%}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css'%}">

    <link rel="stylesheet" href="{% static 'css/adel_search.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->



    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!--main Templete-3 Css File-->
    <link rel="stylesheet" href="{% static 'css/morsy.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/morsy.min.css' %}">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <Header>
        <div class="container">
            <a href="{% url 'pages:index' %}" class="logo">
                <h2 style="color: #fff;">Joblance</h2>
            </a>
            <ul class="links">
                <li><a href="{% url 'pages:home' %}">Home</a></li>
                <li><a href="{% url 'jobs:job_list' %}">Browse Jobs</a></li>
                <li><a href="{% url 'profiles:others' %}">Hire Now</a></li>
                <li>
                    <a href="#" class="io">More</a>
                    <!-- Start Megamenu -->
                    <div class="mega_menu">
                        <div class="image">
                            <img src="{% static 'img/images/megamenu.png' %}" alt="">
                        </div>
                        <ul class="links_one">
                            <li>
                                <a href="{% url 'jobs:add_job' %}"><i class="far fa-clipboard fa-fw"></i>Post a job</a>
                            </li>
                            <li>
                                <a href="{% url 'features:AboutUs' %}"><i class="far fa-chart-bar fa-fw"></i>About
                                    Us</a>
                            </li>

                            <li>
                                <a href="{% url 'features:career' %}"><i class="far fa-comments fa-fw"></i>Career
                                    Advices</a>
                            </li>
                        </ul>
                        <ul class="links_one">
                            <li>
                                <a href="{% url 'features:craftsmen' %}"><i
                                        class="far fa-building fa-fw"></i>Craftsmen</a>
                            </li>

                            <li>
                                <a href="{% url 'pages:feedback' %}"><i class="far fa-check-circle fa-fw"></i>Send
                                    feedback</a>
                            </li>
                            <li>
                                <a href="{% url 'features:interview' %}"><i class="far fa-comments fa-fw"></i>Interview
                                    Tips</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Megamenu -->
                </li>

            </ul>


            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                <div class="Appointment">
                    {% if request.user.is_authenticated %}
                    <div class="d-none d-lg-block">
                        <a class="boxed-btn3" href="{% url 'registration:logout' %}" style="float: right;">Logout</a>
                    </div>
                    <div class="d-none d-lg-block">
                        <a href="{% url 'profiles:profile' %}" class="boxed-btn3">Profile</a>
                    </div>
                    {% else %}
                    <div class="d-none d-lg-block">
                        <a class="boxed-btn3" href="{% url 'registration:signin' %}" style="float: right;">Login</a>
                    </div>
                    {% endif %}
                </div>
            </div>


        </div>

    </Header>
    <!-- header-end -->
    <main>
        <!-- bradcam_area  -->
        <div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>{{forcount.count}}+ Jobs Available</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->
        <div>


        </div>
        <!-- job_listing_area_start  -->
        <div class="job_listing_area plus_padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="job_filter white-bg">
                            <div class="form_inner white-bg">
                                <h3>Filter</h3>
                                <form method="GET">
                                    {% bootstrap_form myfilter.form %}
                                    <input type="submit" value="Search" class="boxed-btn3 w-100 mt-4">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="recent_joblist_wrap">
                            <div class="recent_joblist white-bg ">
                                <div class="row align-items-center">
                                    <div class="col-md-6">
                                        <h4>Job Listing</h4>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="serch_cat d-flex justify-content-end">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="job_lists m-0">
                            <div class="row">
                                {% for job in jobs %}

                                {% if job.owner == user %}
                                <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">

                                            <div class="jobs_conetent">
                                                <a href="{% url 'jobs:edit_job' job.id %}">
                                                    <h4>{{job.title}}</h4>
                                                </a>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <a
                                                            href="{% url 'profiles:profile' %}">
                                                            <p> <i class="fa-solid fa-user"></i>You</p>
                                                        </a>
                                                    </div>
                                                    <div class="location">
                                                        <p> <i class="fas fa-map-marker-alt fa-fw"></i> {{job.city}},
                                                            {{job.country}}</p>
                                                    </div>
                                                    <div class="location">
                                                        <p> <i class="fa fa-clock-o"></i> {{job.job_type}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <a href="{% url 'jobs:edit_job' job.id %}" class="boxed-btn3">Edit
                                                    job</a>
                                            </div>
                                            <div class="date">
                                                <p>Published at: {{job.published_at|date:'d M o'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                <div class="col-lg-12 col-md-12">
                                    <div class="single_jobs white-bg d-flex justify-content-between">
                                        <div class="jobs_left d-flex align-items-center">

                                            <div class="jobs_conetent">
                                                <a href="{% url 'jobs:job_details' job.slug %}">
                                                    <h4>{{job.title}}</h4>
                                                </a>
                                                <div class="links_locat d-flex align-items-center">
                                                    <div class="location">
                                                        <a href="{% url 'profiles:other' job.owner.id %}">
                                                            <p> <i class="fa-solid fa-user"></i> {{job.owner}}</p>
                                                        </a>

                                                    </div>
                                                    <div class="location">
                                                        <p> <i class="fas fa-map-marker-alt fa-fw"></i> {{job.city}},
                                                            {{job.country}}</p>
                                                    </div>
                                                    <div class="location">
                                                        <p> <i class="fa fa-clock-o"></i> {{job.job_type}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="jobs_right">
                                            <div class="apply_now">
                                                <a href="{% url 'jobs:job_details' job.slug %}" class="boxed-btn3">Apply
                                                    Now</a>
                                            </div>
                                            <div class="date">
                                                <p>Published at: {{job.published_at|date:'d M o'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                                {% endfor %}
                            </div>

                            {% if jobs.has_other_pages %}
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="pagination_wrap">
                                        <ul>

                                            {% if jobs.has_previous %}
                                            <li><a href="?page={{jobs.previous_page_number}}"> <i
                                                        class="ti-angle-left"></i> </a></li>
                                            {% endif %}

                                            {% for i in jobs.paginator.page_range %}
                                            <li><a href="?page={{i}}"><span>{{i}}</span></a></li>
                                            {% endfor %}

                                            {% if jobs.has_next %}
                                            <li><a href="?page={{jobs.next_page_number}}"> <i
                                                        class="ti-angle-right"></i> </a></li>
                                            {% endif %}

                                        </ul>
                                    </div>
                                </div>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <div class="spikes"></div>


    <!--Start Footer-->
    <footer>
        <div class="container">


            <div class="box">
                <h3 style="color: #fff;">Joblance</h3>
                <br>
                <ul class="social">
                    <li>
                        <a href="#" class="facebook">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </li>
                </ul>
                <br>
                <p class="text">
                    A big world in a small place
                </p>
            </div>


            <div class="box">
                <ul class="links">
                    <li>
                        <a href="{% url 'features:members' %}">Members</a>
                    </li>
                    <li>
                        <a href="{% url 'jobs:job_list' %}">Find a Job</a>
                    </li>
                    <li>
                        <a href="{% url 'profiles:others' %}">Hire Now</a>
                    </li>
                    <li>
                        <a href="{% url 'features:craftsmen' %}">Craftsmen</a>
                    </li>
                    <li>
                        <a href="{% url 'pages:feedback' %}"><i></i>Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="box">
                <div class="line">
                    <i class="fas fa-map-marker-alt fa-fw"></i>
                    <div class="info">
                        Cairo, Egypt
                    </div>
                </div>
                <div class="line">
                    <i class="far fa-clock fa-fw"></i>
                    <div class="info">
                        Joblance Team Working Hours: 08:00-04:00
                    </div>

                </div>
                <div class="line">
                    <i class="fas fa-phone-volume fa-fw"></i>
                    <div class="info">
                        +201151261692
                        +201095625946
                    </div>
                </div>
            </div>

        </div>
        <p class="copyright">Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a
                href="{% url 'features:members' %}" target="_blank">Joblance Team</a>
        </p>


    </footer>
    <!--End Footer-->

    <!-- link that opens popup -->
    <!-- JS here -->
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'js/ajax-form.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'js/scrollIt.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- <script src="js/gijgo.min.js"></script> -->
    <script src="{% static 'js/range.js' %}"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
    <script src="{% static 'js/adel_script.js' %}"></script>



    <!--contact js-->
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>


    <script src="{% static 'js/main.js' %}"></script>


    <script>
        $(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 24600,
                values: [750, 24600],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1] + "/ Year");
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) +
                " - $" + $("#slider-range").slider("values", 1) + "/ Year");
        });
    </script>
</body>

</html>