@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root {
    --primary-color: #6FB3B8;
    --secondary-color: #388087;
    --gray-color: #808080;
}

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1;
    padding: 0;
    margin: 0;
}

body {
    background-color: #C2EDCE;
}

.container0 {
    width: 1180px;
    height: auto;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 35px;
}

@media (max-width: 1200px) {
    .container0 {
        width: 1000px;
    }
}

@media (max-width: 1024px) {
    .container0 {
        width: 750px;
    }
}

@media (max-width: 768px) {
    .container0 {
        width: 100%;
    }
}

.box0 {
    width: 250px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 12%);
    gap: 17.5px;
}

.box0 img {
    width:  90%;
    height: 50%;
    max-width: 90%;
    max-height: 50%;
    min-width: 90%;
    min-height: 50%;
    margin: auto;
}

.box0 img:hover {
    cursor: pointer;
    opacity: 0.95;
}

.box0 a {
    color: black; /* change color of links to red */
    text-decoration: none; /* remove underline */
  }
  
.box0 a:hover {
    color: black; /* change color of links on hover to blue */
    text-decoration: none; /* remove underline */
}

.box0 h2 {
    font-size: 25px;
    font-weight: bold;
}

.box0 p {
    padding: 0 20px;
    font-size: 15px;
    line-height: 1.35;
    color: var(--gray-color);
}

.box0 .options {
    margin-bottom: 250px;
}

.box0 .options a {
    color: white;
    background-color: var(--primary-color);
    display: inline-block;
    padding: 15px 25px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    border-radius: 80px;

}

.box0 .options a:hover {
    background-color: var(--secondary-color);
}

.pagination1 {
    margin-left: 38%;
    text-align: center;
    display: flex;

}

.pagination1 a,
.pagination1 span {
    padding: 2px 15px;
    display: inline-block;
    border-radius: 25px; /* half of the height of the element */
    border: 2px solid black;
    font-size: 16px;
    font-weight: bold;
    text-decoration: teal;
    margin: 15px 5px; /* add some margin between the circles */
    line-height: 25px; /* center the text vertically */
}

.pagination1 a:first-child,
.pagination1 a:last-child {
    margin-right: 0;
}
