{% load static %}

<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JobLance</title>
    <link rel="icon"
        href="../Main/img/png-file-svg-white-headphone-png-icon-3090554-pngtube-headphones-icon-png-920_916.jpg" />

    <!--google font link-->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet" />

    <!--bootsrap css file-->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" />
    <!--fontawessome css file-->
    <link rel="stylesheet" href="{% static 'css/all.min.css'%}" />
    <!--magnific pop up-->
    <link rel="stylesheet" href="{% static 'vendor/Magnific-Popup/dist/magnific-popup.css'%}" />
    <!--owl carousel files-->
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/css/owl.carousel.min.css'%}" />
    <link rel="stylesheet" href="{% static 'vendor/owl-carousel/css/owl.theme.default.min.css'%}" />
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet" />
    <!--custom css file-->
    <link rel="stylesheet" href="{% static 'css/alaastyle.css'%}" />
    <!--responsive css file-->
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}" />



    <link rel="stylesheet" href="{% static 'css/style.css'%}">



    <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <!--main Templete-3 Css File-->
    <link rel="stylesheet" href="{% static 'css/morsy.css' %}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{% static 'css/morsy.min.css' %}">
    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;700&family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <Header>
        <div class="container">
            <a href="{% url 'pages:home' %}" class="logo">
                <h2 style="color: #fff;">Joblance</h2>
            </a>
            <ul class="links">
                <li><a href="#articles">Articles</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#features">Features</a></li>
                <li>
                    <a href="#" class="io">Other Links</a>
                    <!-- Start Megamenu -->
                    <div class="mega_menu">
                        <div class="image">
                            <img src="{% static 'img/images/megamenu.png' %}" alt="">
                        </div>
                        <ul class="links_one">
                            <li>
                                <a href="#testimonials"><i class="far fa-comments fa-fw"></i> Testimonials</a>
                            </li>
                            <li>
                                <a href="#testimonials"><i class="far fa-comments fa-fw"></i> Testimonials</a>
                            </li>
                            <li>
                                <a href="#services"><i class="far fa-building fa-fw"></i> Services</a>
                            </li>
                            <li>
                                <a href="#our-skills"><i class="far fa-check-circle fa-fw"></i> Our Skills</a>
                            </li>
                            <li>
                                <a href="#work-steps"><i class="far fa-clipboard fa-fw"></i> How It Works</a>
                            </li>
                        </ul>
                        <ul class="links_one">
                            <li>
                                <a href="#events"><i class="far fa-calendar-alt fa-fw"></i> Events</a>
                            </li>
                            <li>
                                <a href="#pricing"><i class="fas fa-server fa-fw"></i> Pricing Plans</a>
                            </li>
                            <li>
                                <a href="#video"><i class="far fa-play-circle fa-fw"></i> Top Videos</a>
                            </li>
                            <li>
                                <a href="#stats"><i class="far fa-chart-bar fa-fw"></i> Stats</a>
                            </li>
                            <li>
                                <a href="#discount"><i class="fas fa-percent fa-fw"></i> Request A Discount</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Megamenu -->
                </li>
            </ul>
        </div>
    </Header>
    <br>
    <br>
    <main>
        {% block body%}

        {% endblock body%}
    </main>
<!--Start Footer-->
<footer>
    <div class="container">


        <div class="box">
            <h3 style="color: #fff;">Joblance</h3>
            <br>
            <ul class="social">
                <li>
                    <a href="#" class="facebook">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="twitter">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="youtube">
                        <i class="fab fa-youtube"></i>
                    </a>
                </li>
            </ul>
            <br>
            <p class="text">
                A big world in a small place
            </p>
        </div>

      
        <div class="box">
            <ul class="links">
                <li>
                    <a href="{% url 'features:members' %}">Members</a>
                </li>
                <li>
                    <a href="{% url 'jobs:job_list' %}">Find a Job</a>
                </li>
                <li>
                    <a href="{% url 'profiles:others' %}">Hire Now</a>
                </li>
                <li>
                    <a href="{% url 'features:craftsmen' %}">Craftsmen</a>
                </li>
                <li>
                    <a href="{% url 'pages:feedback' %}"><i></i>Feedback</a>
                </li>
            </ul>
        </div>
        <div class="box">
            <div class="line">
                <i class="fas fa-map-marker-alt fa-fw"></i>
                <div class="info">
                    Cairo, Egypt
                </div>
            </div>
            <div class="line">
                <i class="far fa-clock fa-fw"></i>
                <div class="info">
                    Joblance Team Working Hours: 08:00-04:00
                </div>

            </div>
            <div class="line">
                <i class="fas fa-phone-volume fa-fw"></i>
                <div class="info">
                    +201151261692
                    +201095625946
                </div>
            </div>
        </div>

    </div>
   <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | Made by <a href="{% url 'features:members' %}" target="_blank">Joblance Team</a> </p>
   

</footer>
<!--End Footer-->
    <!--jquery bootstrap-->
    <script src="{% static './js/jquery.3.4.1.js'%}"></script>
    <!--bootsrap js file-->
    <script src="{% static 'js/alaabootstrap.min.js'%}"></script>
    <!--isotope js library-->
    <script src="{% static 'vendor/isotope/isotope.min.js'%}"></script>
    <!--magnific pop up -->
    <script src="{% static 'vendor/Magnific-Popup/dist/jquery.magnific-popup.min.js'%}"></script>
    <!--owl carousel js-->
    <script src="{% static 'vendor/owl-carousel/js/owl.carousel.min.js'%}"></script>
    <!--aos-->
    <script src="{% static 'js/aos.js'%}"></script>
    <!--custom js file-->
    <script src="{% static 'js/alaamain.js'%}"></script>
</body>

</html>